.Results {
  display: grid;
  grid-template-areas:
    "heading"
    ".";
  grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 2fr));
  grid-template-rows: auto;

  > .Heading {
    padding-top: 50px;
    color: #fff;
    grid-column-start: 1;
    grid-column-end: -1;
  }

  > div {
    border-radius: 15px;
    margin: 10px;
    display: flex;
    flex-direction: column;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    height: 350px;
    > article {
      > p {
        color: #fff;
        padding: 10px 5px;
        text-align: center;
        font-size: 1rem;
      }
    }
    > p {
      text-align: center;
      margin: 0;
      color: #fff;
    }

    > .Name {
      text-decoration: underline;
      padding: 0 5px;
      padding-top: 20px;
      font-size: 1.5rem;
      color: #ffffff;
      text-align: center;
    }

    > .Original {
      text-align: center;
      margin-top: auto;
      padding: 10px 0;
      color: #ff2960;
      text-decoration: none;
    }
  }
}
