.MovieInfo {
  > .Grid {
    display: grid;
    grid-template-areas:
      ". . . . ."
      ". image . title ."
      ". image . genres ."
      ". image . summary ."
      ". image . original ."
      ". . . review ."
      ". . . . .";
    grid-template-columns: 1fr 4fr 1fr 10fr 1fr;
    grid-template-rows: 1fr auto auto 5fr auto 4fr 1fr;
    min-height: 100vh;

    > .Review {
      grid-area: review;
      > .StarRatings {
        font-size: 3rem;
        color: #fff;
        span:hover {
          cursor: pointer;
          color: #e6ac00;
        }
        &.one {
          span:nth-child(-n + 1) {
            color: #e6ac00;
          }
        }
        &.two {
          span:nth-child(-n + 2) {
            color: #e6ac00;
          }
        }
        &.three {
          span:nth-child(-n + 3) {
            color: #e6ac00;
          }
        }
        &.four {
          span:nth-child(-n + 4) {
            color: #e6ac00;
          }
        }
        &.five {
          span:nth-child(-n + 5) {
            color: #e6ac00;
          }
        }
      }
      > textarea {
        width: 100%;
        min-height: 150px;
      }
      > button {
        margin: 10px 0;
        background-color: #ff2960;
        border: none;
        padding: 3px 6px;
        color: #ffffff;
        font-size: 1rem;
        border-radius: 5px;
        cursor: pointer;
      }
    }

    > img {
      width: 100%;
      grid-area: image;
    }

    > .Heading {
      grid-area: title;

      margin: 10px 0;
      font-size: 3rem;
      color: #fff;
    }

    > .Genres {
      grid-area: genres;
    }

    > article {
      grid-area: summary;
      > p {
        font-size: 1rem;
      }
    }

    h1,
    p {
      color: #fff;
    }

    > a {
      justify-self: end;
      align-self: center;
      color: #ff2960;
      grid-area: original;
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 750px) {
  .MovieInfo {
    > .Grid {
      grid-template-areas:
        ". . . ."
        ". image image ."
        ". image image ."
        ". title title ."
        ". genres original ."
        ". summary summary ."
        ". review review .";
      grid-template-columns: 1fr 2fr 2fr 1fr;
      grid-template-rows: 10vh auto auto auto auto auto auto 10vh;
      > .Heading {
        font-size: 2rem;
      }
    }
  }
}
