.MovieInfo > .Grid {
  display: grid;
  grid-template-areas:
    ". . . . ."
    ". image . title ."
    ". image . genres ."
    ". image . summary ."
    ". image . original ."
    ". . . . .";
  grid-template-columns: 1fr 4fr 1fr 10fr 1fr;
  grid-template-rows: 1fr auto auto 5fr auto 1fr;
  min-height: 100vh;

  > img {
    width: 25vw;
    grid-area: image;
  }

  > .Heading {
    grid-area: title;

    margin: 10px 0;
    font-size: 3rem;
    color: #fff;
  }

  > .Genres {
    grid-area: genres;
  }

  > article {
    grid-area: summary;
    > p {
      font-size: 1rem;
    }
  }

  h1,
  p {
    color: #fff;
  }

  > a {
    color: #ff2960;
    grid-area: original;
    text-decoration: none;
  }
}

.MovieInfo > .StarRatings {
  font-size: 3rem;
  color: #fff;
  span:hover {
    cursor: pointer;
    color: #e6ac00;
  }
  &.one {
    span:nth-child(-n + 1) {
      color: #e6ac00;
    }
  }
  &.two {
    span:nth-child(-n + 2) {
      color: #e6ac00;
    }
  }
  &.three {
    span:nth-child(-n + 3) {
      color: #e6ac00;
    }
  }
  &.four {
    span:nth-child(-n + 4) {
      color: #e6ac00;
    }
  }
  &.five {
    span:nth-child(-n + 5) {
      color: #e6ac00;
    }
  }
}
