.Favourites {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(330px, 100%), 1fr));
  grid-template-rows: auto;

  > .Heading {
    margin: 0;
    font-size: 2.5rem;
    text-align: center;
    color: #fff;
    grid-column-start: 1;
    grid-column-end: -1;
  }
}
